#LoginBody {
    background: url(http://papers.co/wallpaper/papers.co-vu30-rock-dark-bw-pattern-texture-cut-black-25-wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#SignupBody {
    background-image: url(http://papers.co/wallpaper/papers.co-vu28-rock-dark-bw-pattern-texture-25-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#ContactBody {
    background-image: url(http://papers.co/wallpaper/papers.co-vx83-metal-dark-pattern-background-25-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    color: black;
    text-align: center;
    font-family: Arial;
    font-size: 4em;
}

.Center {
    color: black;
    text-align: center;
    font-family: Arial;
    font-size: 1.5em;
}

.Left {
    color: black;
    text-align: left;
    font-family: Arial;
    font-size: 1.5em;
}

#mainDiv {
    padding: 10px 20px 0 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 40px;
}

#contactSupportDiv {
    background-color: rgba(241, 205, 139, 0.6);
    border-radius: 40px;
    text-align: center;
}

#ContactDiv {
    text-align: center;
    padding: 10px 20px 0 20px;
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 40px;
}